body{
background-color: #ece9e5;
}

.box{
    display: flex;
    border: 2px solid #3e3838;
}

.board{
    display:grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    position: relative;    
    width: 500px;
    height:500px;
    margin: auto;
}

.restart{
    display: flex;
    margin:3vh auto 1vh auto;
    border:3px solid #B982C1;
    border-radius: 12px;
    background-color: transparent;
    font-size: 18px;
    color:#B982C1;
    font-family: 'Quicksand', sans-serif;
}

.main-title{
    text-align: center;
    margin:3vh auto 4vh auto;
    font-size: 120px;
    color:#B982C1;
    font-family: 'Quicksand', sans-serif;
    
}


#menu{
    display: flex;
    margin:1vh auto;
    font-size: 18px;
    color:#B982C1;
    justify-content: space-evenly;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.chosen::before{
    content: "X";
    font-size: 20vh;
    margin: auto;
    color: #f5c5a3;
    font-family: 'Quicksand', sans-serif;
}

.comp-chosen::before{
    content: "O";
    font-size: 20vh;
    margin: auto;
    color: #ACECD5;
    font-family: 'Quicksand', sans-serif;
}

.victory{
    animation-name: victorious;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display:inline-block;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -20px;
    font-family: 'Quicksand', sans-serif;
    color: #f62681;
}

.defeat{
    animation-name: defeat;
    animation-duration: 2s;
    display:inline-block;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -20px;
    font-family: 'Quicksand', sans-serif;
    color: #3e3838;
    animation-fill-mode: forwards; 
}

.tie{
    animation-name: tie;
    animation-duration: 2s;
    display:inline-block;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -20px;
    font-family: 'Quicksand', sans-serif;
    color: #3e3838;
    animation-fill-mode: forwards; 
}




@keyframes victorious {
    0% {transform: scale(2);}
    50% {transform: scale(6);}
    100% {transform: scale(2);}
}

@keyframes defeat {
    100% {transform: scale(6);}
}

@keyframes tie {
    100% {transform: scale(6);}
}

.greyed-out {
    animation:greyed;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
}

@keyframes greyed {
    100% {color: #cecace;}
    100% {border-color: #cecace;}
}

.hidden {
    display:none;
}

a:link, a:visited{
    text-decoration: none;
    color:#B982C1;
}