#game {
    
    display:block;
    text-align:center;
    font-size: 25px;
}

#guess{
    height: 40px;
    width: 40px;
    font-size: 30px;
}

.hidden {
    visibility: hidden;
}

.lost {
    background-color: rgb(17, 17, 17);
    color: white;
    z-index: -1;
}